body {
    margin-left: 0px;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #3F6683;
    /*background-image: url(/img/fon1.gif);*/
    background: linear-gradient(to bottom, rgb(63, 102, 131) 0%,rgb(255,255,255) 8%);
}

.res {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}
.menu_bar1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #F5F5F5;
    text-decoration: none;
    font-weight: bold;
}
.rekom {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    color: #666666;
}
.spis {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style-type: none;
    font-weight: normal;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #CCCCCC;
    border-right-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-left-color: #CCCCCC;
}
.spis2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.res2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
    line-height: 10px;
}
.menu_bar2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFF00;
    text-decoration: none;
    font-weight: bold;
}
.text-v10 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.menu1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: underline;
}
.text-V12 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.red-V12 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FF0000;
}
body,td,th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}
.red {
    color: #FF0000;
}
.text-V12b {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.tags {
    font-size: 3px;
    color: #FFFFFF;
}
.style1 {
    text-align: center;
    background-color: #ccc;
    color: #003300;
    font-weight: bold;
    padding: 6px;
    font-size: 16px;
}
/*pages*/
.text-v10b {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.text-V12blue {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #003366;
}

.spis2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #666666;
    /*text-align: left;*/
}

/*mine*/

.container{
    background-color: white;
}

.respons{
    width: 100%;
}
a{
    text-decoration: none !important;
}

.res2 p{
    line-height: 14px;
}
.res p{
    font-size: 12px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
    background-image: none;
}

.navbar-default .navbar-nav>.active>a{
    background: #366a9e;
}

.navbar-default{
    background: #0f3366;
}
.navbar-default .navbar-nav>li>a{
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a:hover,
.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    color: #c5d6da;
    background-color:  #366a9e;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #c5d6da;
}

.navbar-default .navbar-nav>li.active>a{
    color:  #FFFF00;
}
.navbar-default .second>li.active>a{
    padding: 0;
}

.second-level{
    margin-left: 15px;
    padding: 3px 0px;
    padding-left: 10px;
    border-left: solid 1px white;
    list-style: none;
}
.second-level:first-child{
    border: none;
}
.second{
    background: #366a9e;
    width: 100%;
}

.navbar-default {
    border: none;
}

.active_second a{
    padding: 0;
}
.header-image{
    margin-top: 23px;
    width: 110px;
}
.bg-grey-lite{
    background-color: #f5f5f5;
}
.bg-grey{
    background-color: #E8E8E8;
}
.recommend{
    background-color: #cccccc;
    padding: 4px;
    width: 36%;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 10px;
    z-index: 1;
    font-size: 13px;
}

.home_1_text img{
    /*margin: 0 10px;*/
}
.home_1_text{
    background-color: #f5f5f5;
    padding: 10px 2px;
    font-size: 13px;
}
.home_second .home_1_text .col-sm-1{
    margin-top: 7px;
}
.home_second .home_1_text{
    margin-bottom: 20px;
}
.hr{
    border-top: 2px solid #eee;
}
.home_third .home_1_text span{
    padding-top: 10px;
}
.text-V12 p, .text-V12{
    font-size: 14px;
}
.tags {
    font-size: 3px;
    color: #FFFFFF;
}

.second_home iframe{
    width: 100%;
    height: 250px;
}
.footer-text{
    padding: 20px;
    margin-top: 25px;
}

.footer{
    background: linear-gradient(to top, rgb(63, 102, 131) 0%,rgb(255,255,255) 101%);
}
.footer_block{
    border-top: 1px solid grey;
}
.fotofon{
    background: url(/img/fotofon.jpg);
    background-repeat: no-repeat;
    padding: 0 11px 18px 11px;
}

.ofirme_block .fotofon{
    padding: 0 11px 25px 11px;
}
.ofirme_block{
    text-align: center;
}
.ofirme_span{
    font-size: 15px;
}

.vcenter {
    padding-top: 19%;
}

.partner-item{
    padding: 15px;
    text-align: center;
}

.for_mob{
    display: none;
}

.ofirme-video iframe{
    width: 70%;
    height: 315px;
}

.news-block{
    font-size: 15px;
}

.news-block .col-sm-4 .col-sm-12{
    background-color: #b4cdd8;
    text-align: right;
    padding: 8px;
}
.news-block .col-sm-4 .col-sm-12 span{
    font-size: 12px;
    font-weight: bold;
    padding-right: 20px;
}


.first-proekt {
    background-color: #f5f5f4;
}
.first-proekt .col-sm-9{
    padding-top: 25px;
    font-size: 18px;
}
.first-proekt{
    text-align: center;
}

.second-proekt .col-md-5{
    text-align: center;
}
.second-proekt, .mt-50{
    margin-top: 50px;
}

.second-proekt .respons{
    padding: 50px 0;
}
.second-proekt .col-md-7{
    font-size: 15px;
}

.third-proekt .col-sm-12{
    text-align: center;
    padding-bottom: 50px;
}

.fourth-proekt{
    font-size: 16px;
}
.border{
    border: 1px solid;
}
.border-b{
    border-bottom: 1px solid grey;
}
.stroy-first .border-b{
    text-align: center;
    margin: 20px 0;
}
.stroy-first .bg-grey{
    padding-bottom: 5px;
    padding-top: 5px;
}

.stroy-span{
    display: block;
    margin: 0 auto;
    width: 70%;
    border: 1px solid grey;
    border-bottom: none;
    padding: 10px 20px 10px 20px;
    background-color: white;
    position: relative;
    bottom: -1px;
}

.fs-18{
    font-size: 18px;
}
.fs-16{
    font-size: 16px;
}
.fotofon-big{
    padding: 0 11px 22px 11px;
    background-position-y: -8px;
    background-size: cover;
}
.contacts{
    font-size: 28px;
    color: #1f1f79;
}
.page{
    min-height: 100vh;
}
.p-50{
    padding: 50px;
}

.last-block-fasad1 .col-md-6{
    padding-top: 30px;
    padding-bottom: 30px;
}

.fasad_block{
    font-size: 16px;
}

.fasad2 .bg-grey{
    padding: 8px;
}

.fasad2-block{
    display: inline-block;
}

.fasad-next{
    padding: 30px;
}
.h2-fasad2{
    display: inline-block;
    width: 100%;
    margin-bottom: -7px;
}
.per-20{
    width: 19%;
    display: inline-block;
    padding: 10px;
}
.fasad3-img_block{
    text-align: center;
    display: inline-block;
    margin: 0 100px;
}

.price-table table{
    width: 100%;
}
.strong{
    font-size: 18px;
    padding: 20px 0;
}

.btn-feedback{
    margin: 20px;
    border-radius: 4px;
    background-color: #366a9e;
    color: whitesmoke;
    border: none;
    padding: 8px;
}
.activity{
    background-color: #f0f2f5;
    text-align: center;
}
.activity img{
    width: 60%;
}
.activity p{
    background-color: #f0f2f5;
    font-size: 36px;
    margin: 0;
    padding: 25px;
    color: #a0a0ac;
}

/*@media*/

@media (min-width: 769px) and (max-width: 1024px) {

    .fotofon{
        padding: 0;
    }
}
@media screen and (max-width: 768px) {

    .activity img{
        width: 100%;
    }
    .activity p {
        font-size: 24px;
    }
    .per-20 {
        width: 95%;
    }
    .fasad3-img_block {
        margin: 0;
    }
    .p-50{
        padding: 10px;
    }
    .last-block-fasad1 .col-md-6{
        text-align: center;
    }
    .contacts{
        font-size: 20px;
    }
    .mob-respons{
        width: 100%;
    }
    .news-block .col-sm-4{
        text-align: center;
    }
    .ofirme-video iframe{
        width: 100%;
    }
    .for_mob{
        display: block;
    }
    .second-level:first-child{
        border-left: solid 1px white;
    }
    #second_level_menu {
        display: none;
    }
    .recommend {
        width: 52%;
    }

    .footer-text{
        text-align: center;
    }
}